plotter			designjet650c
plotter_command		lp 
button_name		ROLLPLOT
button_help		Local HP designjet650c plotter
plot_names		yes
delete_after_plotting	no 
paper_size		c
paper_size_allowed	c d e
!pen_table_file		$PRO_DIRECTORY/../pro_stds/plotters/lcl_post.pnt
