plotter			laserjet4
plotter_command		lp 
button_name		LASERJET
button_help		Local HP laserjet4 printer
plot_names		yes
delete_after_plotting	no	
paper_size		a
paper_size_allowed	a b
pen_table_file		$PRO_DIRECTORY/../pro_stds/plotters/lcl_post.pnt
