plotter 		postscript
plotter_command 	lp 
button_name 		local_postscript
button_help 		local postscript printer
paper_size 		a
paper_size_allowed 	a 
landscape_plotting 	no
pen_table_file		$PRO_DIRECTORY/../pro_stds/plotters/lcl_post.pnt
